@model PopularProductTagsModel
<div class="block block-popular-tags">
    <div class="title">
        <strong>Delivery Information</strong>
    </div>
    <div class="listbox">
        <ul class="list">
            <li>
                <a class="custom-picture" href="/delivery-information">
                    <img src="~/images/delivery.png" />
                </a>
                <a class="product-name" href="/delivery-information">Delivery Information</a>
            </li>

        </ul>
    </div>
</div>